.container{
  background-color: #eeede0;
  font-family: "Montserrat", sans-serif;
    height: 80vh;
  @media screen and (max-width: 1024px){
    height: 160vh;
    
  }

  .content_container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
  }
}